<a href="#" class="nav-item">
    <span class="nav-icon">🏠</span>
    <span class="nav-text">Home</span>
</a>
<a href="edit" class="nav-item">
    <span class="nav-icon">🔍</span>
    <span class="nav-text">Explore</span>
</a>
<a href="#" class="nav-item">
    <span class="nav-icon">🛠</span>
    <span class="nav-text">Utilities</span>
</a>
<a href="#" class="nav-item">
    <span class="nav-icon">📞</span>
    <span class="nav-text">Contact</span>
</a>